body, h1,h2,h3,h4,h5,h6,{
    font-family: 'Roboto', sans-serif;
}
img{
    max-width: 100%;
}
.mai-test-color{
    background-color: #f7f9ff;
}
.jony-header .navbar-brand{
    font-size: 29px;
    font-weight: 500;  
}
.jony-header span{
    background-color: #6278df;
    color: #fafafa;
    display: inline-block;
    height: 45px;
    width: 44px;
    text-align: center;
    border-radius: 10px;
    font-size: 28px; 
}
.jony-menu .nav-item{
    font-size: 17px;
    margin: 0 19px;  
}
.button-div-right .button-div{
	font-weight: bolder;
	padding: 6px 26px;
	
}
.button-div:hover{
    background-color: #fff;
    color: #6278df;
    box-shadow: 4px 4px 30px 0 rgba(1, 27, 255, 0.4);

   
}
.dropdown-menu li{}
.dropdown-menu li a {
	border-bottom: 1px solid #ddd;
	display: block;
	font-size: 19px;
	width: 296px;
	padding: 13px;
	position: relative;
}

.silder-section{
    background: url(1.SLIDER.jpg) no-repeat center center;
    padding: 160px 0;
    position: relative;
    z-index: 1;
}
.silder-section::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
.silder-caption h4{
    margin-bottom: 30px;
}
.silder-caption h2{
    margin-bottom: 56px;
    font-size: 53px;
    font-weight: 600;
}
.silder-caption .form-control {
	padding: 18px 24px;
	font-size: 17px;
}
                
.silder-caption .btn{
    padding: 15px;
    padding-right: 20px !important;
    font-size: 20px;
    font-weight: 600;
}
.silder-caption .btn:hover{
    background-color: #fff;
    color: blue;
    box-shadow: 4px 4px 30px 0 rgba(1, 27, 255, 0.4);
}

/*   number section */
.text-left-right{
    font-size: 57px;
    font-weight: 600; 
}
.muted{
    font-size: 23px;
    color: #767676;
    font-weight: 500;   
}

/*   about section */
.about-section{
    background-color: #f7f9ff;
}
.about-section-item h1{
    font-size: 30px;
    margin-bottom: 20px;
}
.about-section-item h1{
    font-size: 50px;
    margin-bottom: 28px;
    margin-top: 95px;
    font-weight: 600;
}
.lead{
    font-size: 24px;
    line-height: 2.7rem;
    font-weight: 400;
}


/* feature section */
.feature-item{
    height: 300px;
    box-shadow: 4px 4px 30px 0 rgba(98, 120, 223, .3);
}
.feature-left-src{
    width: 40%;
    overflow: hidden;
    border-radius: 5px 0 0 5px;
}
.feature-left-src img{
    height: 100%;
    height: 100%;
    width: auto !important;
    max-width: inherit;
    position: relative;
    left: -90px;
}
.feature-right-src{
    width: 60%;
    padding: 28px;
}
.feature-right-src h3{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 22px;    
}
.feature-right-src p{
    font-size: 17px;
    line-height: 1.7em;
    color: #767676;
}

.feature-left-src .bitb{
    position: relative;
    padding-left: 65px;
    left: -70px;
}
.feature-left-src .ditb{
    position: relative;
    padding-left:40px ;
}
.feature-left-src .etib{
    position: relative;
    left: -133px;
}
.feature-left-src .htib{
    position: relative;
    padding-left: 35px;
}

.feature-content h2{
    font-size: 46px;
    font-weight: 500;  
}
.feature-content p{
    font-size: 26px;
    margin-top: 24px;
    color: #767676;
    font-weight: 300;    
}


/*  service section */
.sevice-content h3{
    font-size: 50px;
}
.img-item{
    height: 100%;
    width: 100%;
}
.img-item a{
    position: relative;
    display: block;
}
.img-item a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(98, 120, 223, .7);
    opacity: 0;
    visibility: hidden;
    transition: .4s;
}
.img-item:hover a::after{
    opacity: 1;
    visibility:visible;
}


/*   pricing table section */
.pricing-table-item{
    background-color: #f7f9ff;
    box-shadow: 4px 4px 30px 0 rgba(98, 120, 223, .3); 
    padding: 50px; 
    border-radius: 5px;

}

.pricing-table-section h2{
    font-size: 51px;
    font-weight: 600;
    margin-bottom: 23px; 
}
.pricing-table-section .lead{
    font-size: 27px;
    color: #777;    
}
.pricing-table-item h1{
    font-size: 43px;
    font-weight: 600;   
}
.pricing-table-item .text-muted{
    font-size: 24px;
    font-weight: 400;
}
.pricing-table-item ul{
    list-style: none;
    margin-left: -37px;
    margin-bottom: 50px;
}
.pricing-table-item ul li{
    padding: 10px;
    font-size: 21px;
    font-weight: 300;     
}
.pricing-table-item ul li span{
    color: #6278df;
    font-size: 27px;
    display: inline-block;
    width: 45px;
    font-weight: bold;
}
.pricing-table-button{
    
}
.pricing-table-button a{
    padding: 14px 22px;
    font-size: 20px;
            
}

.pricing-table-item:hover .btn{
    background-color: #6278df;
    color: #fff;
    border-radius: 5px;
}



/*   testimonial section */
.authar-img-bio {
	width: 249px;
	margin: auto;
}
.authar-img-bio img {
	width: 80px;
	margin-right: 26px;
}
.img-content-item {
	text-align: left;
	position: relative;
	top: 3px;
}
.testimonial-item span {
	font-size: 55px;
	position: relative;
	opacity: .3;
}
.testimonial-item h1 {
    font-size: 51px;
}
.testimonial-item .lead {
	font-size: 24px;
	color: #767676;
}
.testimonial-item .text-muted {
	font-size: 29px;
	font-weight: 300;
}



/*   bihar section */
.bihar-section-item{
  
}
.bihar-section-item .card{
}
.bihar-section-item .card img {
	width: 129px;
	height: auto;
	margin-top: -83px;
	position: relative;
	margin-left: 14px;
}
.bihar-section .lead{
    font-size: 22px;
    margin-bottom: 64px;
}


/*   contact section  */
.contact-section-item .card{
    padding: 30px;
    box-shadow: 4px 4px 30px 0 rgba(98, 120, 223, .2);

}
.contact-section-item .form-control{
    padding: 20px;
    box-shadow: 4px 4px 30px 0 rgba(98, 120, 223, .3);
}
.form-control:focus{
    border: 1px solid #6278df;
    box-shadow: 4px 4px 30px 0 rgba(98, 120, 223, .9);
}
.contact-section-item .btn {
	padding: 13px 31px;
	
}
.contact-section-item .card-title {
	font-size: 31px;
	font-weight: 600;
}
.btn:hover{
    background-color:#fff;
    color: #6278df;
   border: 1px solid #6278df;  
}
.contact-section h1{
    font-size: 57px;
}

/*    app section */
.app-content {
	position: relative;
	left: 358px;
}
.app-img-left {
	width: 615px;
}
.app-store-item h1 {
	font-size: 48px;
	margin-bottom: 21px;
	font-weight: 500;
}
.app-store-item .text-muted {
	font-size: 27px;
	margin-bottom: 45px;
    font-weight: 300;
}
.app-content .beauty-bul {
	font-size: 24px;
	padding: 14px 29px;
	position: relative;
	left: 90px;
	margin-top: 28px;
	background-color: #5ba533;
	color: #fff;
}
.beauty-bul:hover{
    background-color: #000;
    color: #fff;
    box-shadow: 4px 4px 30px 0 rgba(8, 238, 20, 0.6);
}
.app-content .our-beauty {
	font-size: 24px;
	position: relative;
	top: -64px;
	padding: 14px 30px;
	border: 2px solid #5ba533;
	left: 16px;
    color: #5ba533;
}
.our-beauty:hover{
    background-color: #5ba533;
    color: #fff;
    box-shadow: 4px 4px 30px 0 rgba(8, 238, 20, 0.6);
}
.app-img-left img{}